
  /* FIM MEDIA QUERY */
  /* --------------------------- CSS INDEX ---------------------------- */
  /* MAIN */
  body {
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
  }
  .rebrac-red-color {
    color: #881f1c;
  }
  .rebrac-red-color2 {
    color: #ad6055;
  }
  .rebrac-red-color-bg {
    background-color: #881f1c;
  }
  .rebrac-yellow-color {
    color: #d1b812;
  }
  .rebrac-text-large {
    font-weight: bolder;
  }
  .set-overflow {
    overflow: hidden !important;
  }
  .bg-1 {
    z-index: -10 !important;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../imagens/bg-1.png");
  }
  .bg-2 {
    z-index: -10 !important;
/*     height: 65vh; */
    display: block !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../imagens/bg-2.png");
  }
  .bg-3 {
    z-index: -10 !important;
   /*  height: 80vh; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../imagens/bg-3.png");
  }
  .bg-4 {
    z-index: -10 !important;
   /*  height: 80vh; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../imagens/bg-4.png");
  }
  .values-list {
    padding-inline-start: 15px;
  }
  .font-sobre {
    font-size: 13px;
  }
  .service-img {
    height: 200px;
    width: 400px;
  }
  .view_more{
   display: block;
  }
  .deactive_display{
    display: none;
  }
  /* FIM  MAIN */
  /* Assistencia*/
  .assistText0{
   font-size: 0px;
  }
  /*FIM ASSISTENCIA*/
  /* Header */
  .slogan {
    font-size: 0.8rem;
  }
  .set-under-nav ul {
    text-align: right;
    list-style-type: none;

  }
  .set-under-nav-wapp {
    background-color: #0ab65c !important;
  }
  .set-bg-blue {
    background-color: #242f4f !important;
  }
 
  /* Navbar */
  .fixed-menu nav {
    position:fixed;
    z-index:9999;
    width: 100% !important;
    top:0;
    left:0;
  }
  #set-menu {
    display: flex;
    justify-content: flex-end !important;
  }
  #set-menu2 ul {
    display: table-cell;
    vertical-align: middle;
    list-style: none;
  }
  #set-menu2 ul li a {
    display: flex;
    justify-content: flex-end !important;
    padding: 2px 15px;
    font-size: 16px;
    display: inline-block;
    color: #343434;
    font-weight: bold;
    text-decoration: none;
  }

  .set-menu-btn:hover {
    color: #881f1c;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
      }  
        .menu-btn-active 
        {
          cursor: pointer;
          color: #881f1c !important;
        }
 

  /* FIM Navbar */
  .btn-top{
     position: fixed; 
     bottom: 0px; 
     right: 20px;
     background-color: #881f1c !important;
     z-index: 10;
     
  }
  .set-logo {
    position: absolute;
    width: 100%;
    top: -45px;
  }
  .blue-title {
    color: #556696;
  }

  
  /* FIM Header */
  /* animation class */
  .assistImage{
    opacity: 0;
    overflow: hidden;
  }
  .btn_orc{
   opacity: 0;
  }
  
  .title-from-left{
    margin-left:-100vh;
    overflow: hidden;
  }
  /* FIM animation */

  /* Carousel */
  .button-image img {
    width: auto;
    height: 20px;
    margin: 4;
  }
  .button-image {
    width: 45%;
    margin: auto;
  }

  .carousel-indicators li {
    background-color: #fff;
    height: 3px;
    width: 3rem;
  }
  li.active {
    background-color: #881f1c !important ;
  }
  .carousel-text {
    position: absolute;
    top: 15%;
    right: 35%;
    z-index: 20;
    color: #ffead1;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  }
  .carousel-text-2 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 20;
    color: #ffead1;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  }
  .carousel-caption a {
    background-color: #ebebeb;
  }
  .carousel-caption b {
    color: #002436;
  }
  .set-red-line {
    background-color: #881f1c;
    height: 3px;
    width: 100%;
  }
  .set-carousel {
    height: 500px !important;
  }
  .set-bg-dark-gray{
    background-color: #606060;
  }
  .set-bg-gray{
    background-color: #d6d6d6;
  }
  .set-bg-gray .slogan{
    vertical-align: middle;
    margin: 20px 0;
    color:#000;
    font-weight: 550;
  }
  
  .justify-space-between{
    justify-content: space-between;
  }
 
  /* FIM Carousel */
  /* FOOTER */
  .set-form {
    max-width: 75%;
    margin: auto;
    padding-bottom: 25px;
  }
  .footer-bg-color-1 {
    background-color: #414b68;
    width: 100%;
  }
  .footer-bg-color-2 {
    background-color: #273150;
  }
  .form-control {
    border-radius: 0;
    background-color: #ffff;
  }
  /* FIM FOOTER */

.btn-client{
  width: 15em;
  height: 3em;
  background-color: #606060;
  border-radius:.1rem;
}

.pa-0{
  padding: 0px !important;
}

.pa-20{
  padding: 20px;
}
.pa-30{
  padding: 30px;
}
.pa-40{
  padding: 40px;
}

.title_cliente{
  font-size: 2em;
  font-weight: 1000;
} 
.subtitle_cliente{
  font-size: 1.3em;
  font-weight: 1000;
  align-content: center;
  text-align: left;
}
.align-v-middle{
  vertical-align: middle !important;
}
.align-v-bottom{
  vertical-align: bottom !important;
}
.align-v-top{
  vertical-align: top !important;
}
.set-border-table-client{
  border-bottom: 4px solid #929292 !important;

}
.justify-space-around{
  justify-content: space-around !important;
}
.justify-center{
  justify-content: center !important;

}

.gray-menu .nav-link{
  margin: 4px;
  color:white;
  font-weight: bold;
  text-align: center;
  background-color: #aaaaaa;
}
.gray-menu .active{
  background-color: #606060 !important;
}

.form-client .form-control{
  border: 2px solid #606060;
}
.api-google {
  position: relative;
  width: 100%;
  height: 80%;
  border: "0";

}